<div class="m-0">
  <nav *ngIf="showNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-pizza-slice" style="color: #ee652b"></i
    ></a>

    <a class="navbar-brand" href="/">
      Product  
      </a>

    <a class="navbar-brand" href="/client">
    Client  
    </a>

    <a class="navbar-brand" href="/address">
      Address  
      </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fa-solid fa-power-off" style="color: #b30000"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
